/* For demo */
.ant-carousel .slick-slide {
    padding: 0px;
    text-align: center;
    height: 300px;
    /* line-height: 30px; */
    background: #f3955f;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .bottonChoice{
    background-color: #808B96;
    width: 233px;
    height: 100px;
  }

  .bottonChoice:hover{
    background-color: #EEF819;
    width: 233px;
    height: 100px;
  }